 
 <div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="mb-10 font-weight-bold text-primary">Educación - Formación Académica</h6>
            <button type="button" class="btn btn-primary" routerLink="/nuevaeduc" *ngIf="isLogged">
                Nueva Educación
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">     
                    <thead>
                        <tr>
                            <th>Institución</th>                            
                            <th>Titulo</th>
                            <th>Nivel</th>
                            <th>Periodo</th>                            
                            <th>Estado</th>
                            <th>Logo</th>
                            <th *ngIf="isLogged">Editar</th>
                            <th *ngIf="isLogged">Borrar</th>
                        </tr>
                    </thead>              
                    <tbody>
                        <tr *ngFor="let Educacion of educacion">
                            <td>{{Educacion.nombreE}}</td>
                            <td>{{Educacion.descripcionE}}</td>
                            <td>{{Educacion.nivel}}</td>
                            <td>{{Educacion.periodo}}</td>
                            <td>{{Educacion.estado}}</td>
                            <td class="center"><img src={{Educacion.logo}} id="logo"></td>                        
                            <td class="center" *ngIf="isLogged">
                                <i type="button" class="bi bi-pencil-fill" routerLink="/editeduc/{{Educacion.id}}" *ngIf="isLogged"
                        title="Editar"></i>
                            </td>
                            <td class="center" *ngIf="isLogged">
                                <i type="button" class="bi bi-trash" (click)="delete(Educacion.id)" *ngIf="isLogged"
                        title="Borrar"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>