.center{
    text-align: center;     
}
#logoUnt{
    width: 70px;        
}
#logoAP{
    width: 150px;        
}
#logoMumuki{
    width: 150px;        
}
#logoCedite{
    width: 200px;        
}
#logoFacet{
    width: 150px;        
}
#logoSol{
    width: 100px;        
}