<div>
    <div class="row" style="padding-left: 35px; padding-right: 60px;">
    
        <div class="card shadow mb-4" style="padding-left: 0px; padding-right: 0px;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Experiencia</h6>
            </div>
            <div class="card-body">
                <p class="mb-10 font-weight-bold text-black-50">Vuelta a la Presencialidad 02/08/2021.</p>
                <p>Se informa a la comunidad que las actividades presenciales 
                    reiniciarán el día lunes 2 de agosto del presente año. 
                    Serán para todos los cursos, divididos en burbujas, 
                    respetando las condiciones de bioseguridad.</p>  
                    <p class="mb-10 font-weight-bold text-black-50">Aspirantes Nivel Medio 01/08/2021.</p>
                <p>Queridos Aspirantes: El Instituto Técnico de la U.N.T. les da la bienvenida al curso de apoyo 
                    “Virtual” para el Ingreso al primer año del ciclo lectivo 2022. En medio de esta situación tan 
                    especial para el mundo en general y en particular para la Educación, hemos preparado este curso, 
                    poniendo a su disposición todos los recursos necesarios, tanto humanos como tecnológicos. 
                    Les enviaremos a través de sus respectivas aulas virtuales toda la documentación necesaria para poder 
                    llevar adelante el cursado (cuadernillos, cronogramas, contenidos temáticos etc.). 
                    Los Aspirantes deberán aprobar el «Examen de Ingreso» y estar dentro de los mejores puntajes hasta 
                    cubrir el cupo, como se hace todos los años. La fecha del examen está  prevista para el 17 de 
                    noviembre de 2021,estando supeditada a la situación epidemiológica que esté atravesando la Provincia, 
                    por esa razón nos estaremos comunicando con Uds. para ir poniéndolos al tanto de las novedades que pudieran 
                    surgir al respecto. Quedamos atentos a sus dudas y sugerencias.</p>                                          
            </div>
        </div>
    </div>
</div>
