<div>
    <div class="row" style="padding-left: 35px; padding-right: 35px;">

        <div class="card shadow mb-4" style="padding-left: 0px; padding-right: 0px;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Experiencia</h6>
            </div>
            <div class="card-body">
                <p class="mb-10 font-weight-bold text-black-50">Instituto Técnico - Universidad Nacional de Tucumán (2013
                    - A la fecha)</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptatum esse ducimus quidem voluptatem, harum at cumque nam, repellendus vero rem? Fugiat porro ut libero dolorum molestias dignissimos quidem eveniet!</p>
                <p class="mb-10 font-weight-bold text-black-50">Colegio de Bioquímicos de Tucumán (2015 - A la fecha)</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quam saepe vitae perferendis delectus quaerat nobis facere expedita, tempora iure, non praesentium aspernatur molestias omnis atque, eaque sequi ipsum nemo?</p>
                    <p class="mb-10 font-weight-bold text-black-50">YBC (2011 - A la fecha)</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cupiditate, voluptatum illo odit quia blanditiis ipsum iste velit, dolorem rerum earum ex voluptate dolorum unde error nisi! Obcaecati, illum fugiat!</p>
            </div>
        </div>
    </div>
</div>