<div class="container-fluid">
    
    <div class="card shadow mb-4" >
        <div class="card-header py-3">
            <h6 class="m-10 font-weight-bold text-primary">Proyectos</h6>
            <button type="button" class="btn btn-primary" routerLink="/nuevoproyecto" *ngIf="isLogged">
                Nuevo Proyecto
            </button>
        </div>
        <div class="row"  *ngFor="let Proyecto of proyecto">           
            <div class="card-body" style="border:15px">
                <div class="text-center">
                    <p class="text-primary font-weight-bold">{{Proyecto.nombre}}</p>
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src={{Proyecto.url}} alt="...">
                </div>
                <div class="text-center">{{Proyecto.descripcion}}</div>
                <div class="text-center">
                    <i *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </i>
                    <i *ngIf="isLogged">
                        <button class="btn btn-light" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </i>
                </div>  
            </div>
                       
        </div>             
    </div>
</div>