<div class=" row container-fluid">

    <div class="col-xl-6 col-md-6  mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto" style="padding-right: 10px;">
                        <img src="../../../assets/yo.jpeg" class="img-fluid" id="foto">
                    </div>
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Full Stack Developer</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            Lucas Matías Robles
                        </div>                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Acerca de mí
                        </div>
                        <div class="h5 mb-0 text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sapiente fuga qui amet ea reprehenderit, laboriosam sit laudantium, fugiat sed, totam cumque. Quis aperiam alias possimus accusantium velit, quos illum!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

