<section class="vh-100" *ngIf="softs">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../assets/skill.webp" class="img-fluid"
            alt="Sample image">          
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate >
  
           
            <div class="form-outline mb-4">   
              <label for="nombre">Nombre del soft skill</label>                                 
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="softs.nombre" required="" placeholder="Nombre del soft skill">
            </div>  
            
            <div class="form-outline mb-3">        
              <label for="porcentaje">Porcentaje del soft skill</label>                            
                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="softs.porcentaje" required="" placeholder="Porcentaje del soft skill"> 
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Modificar Skill</button>              
            </div>
  
          </form>
        </div>
      </div>
    </div>    
  </section>
  <footer>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
     
      <div class="container-fluid">
        <div class="text-white mb-3 mb-md-0">
          <p>Lucas Matías Robles | © Argentina Programa</p>
        </div>
      </div>
  
    </div>
  </footer>