<div class="container-fluid">
    <!-- Donut Chart -->
    <div class="col-xl-12 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Hards Skills</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <circle-progress 
                    [percent]="85" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'JAVA'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="90" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'C/C++'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="75" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'JavaScript'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="55" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'PHP'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="55" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'VFP'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>                
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Soft Skills</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <circle-progress 
                    [percent]="55" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'JAVA'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5867F5'" 
                    [innerStrokeColor]="'#5887FF'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="55" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'C++'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="55" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'C++'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="55" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'C++'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                <circle-progress 
                    [percent]="55" 
                    [radius]="100" 
                    [showUnits]="false" 
                    [title]="'C++'"                        
                    [titleFontSize]="'25px'" 
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="15" 
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#5a5c69'" 
                    [innerStrokeColor]="'#858796'" 
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>